@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,400&family=Oswald:wght@400;600;700&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Sansita+Swashed:wght@300;400&family=Tangerine:wght@400;700&family=Vujahday+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    width: 100vw;
    height: 100vh;
}
.bookmark-store{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
}
.bookmark{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
    border-radius: 8px;
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    margin-bottom: 20px;
}
.delete-btn{
    width: 18px;
    height: 18px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 5px;
    left: 5px;
    cursor: pointer;

}
a{
    text-decoration: none;
    color: black;
}
.logo{
   margin-bottom: 8px;
}
.main-title{
    font-size: 65px;
    font-family: Tangerine;
    font-weight: 800;
    color: #D82E2F;
}
.input-url{
    width: 180px;
    height: 30px;
    border-radius: 6px;
    border:  1px solid #D82E2F;
    padding-left: 6px;
}
.create-btn{
    background-color: #22CB5C;
    color: #fff;
    height: 32px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    cursor: pointer;
}
.create-btn:hover{
    background-color: #00D84A;
}
.creater{
    position: absolute;
    top: 5px;
    left: 5px;
    color: #D82E2F;
    font-family: Tangerine;
}